h1 Exercise - #{@exercise.name}

.button-group
  = link_to 'Edit', edit_exercise_path(@exercise), class: 'button'
  = link_to 'Delete', @exercise, data: { confirm: 'Are you sure?' }, method: :delete, class: 'button secondary'
